body {
}
#mapping-sess {background-color: white; width: 81%; position: relative; display: block; margin: 22px auto; padding: 5px 0;} #filtering{width: 45%; margin: 5px auto; text-align: center;}
.controls {
        width: 300px !important;
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}