/*
* CSS ver.1.0
*
*/
@import url(http://fonts.googleapis.com/css?family=Damion); 
@font-face {font-family:'ubuntu-c';
	/*src:url(../fonts/Ubuntu-C.ttf)*/
	src:url('../fonts/ubuntu-c-webfont.eot');
	src:local(':('),
		url('../fonts/ubuntu-c-webfont.woff') format('woff'),
		url('../fonts/ubuntu-c-webfont.ttf') format('truetype');
}
@font-face {
	font-family:'lobsterTwo';
	src:url(../fonts/lobstertwo-regular-webfont.eot);
	src:local(':('),
		url('../fonts/lobstertwo-regular-webfont.woff') format('woff'),
		url('../fonts/lobstertwo-regular-webfont.ttf') format('truetype');
}
body{background-image: url(../img/body_bg.jpg); background-position: center center;} header h1{font-family: 'Damion', serif; font-size: 26px; font-height:26px; font-weight: bolder; color: rgba(40%, 40%, 40%, 0.6); text-shadow:2px 0px 3px rgba(60%, 60%, 60%, 0.483); } .page-encaps{height: 75px; min-width: 70%; max-width: 82%; margin: 0 auto; padding: 10px; position: relative;} div#kapsul-judul{height: 100%; width: 45%; float: left; display: inline-block; position: relative;} div#kapsul-navigasi{width: 46%; height: 100%; float: right; position: relative; text-align: right;} div#kapsul-navigasi nav{width: 95%; height: auto;} div#kapsul-navigasi ul{margin: 0; padding: 0;} div#kapsul-navigasi nav ul li{list-style: none; display: inline-block; position: relative; margin: 5px; padding: 5px;} nav ul li a{text-decoration: none; color: rgba(30%, 30%, 30%, 0.64917); font-size: 13px; font-weight: bold; opacity: 0.6283;} nav ul li:first-child a:hover{border-bottom: 2px solid; color: cadetblue;} nav ul li:nth-child(2) a:hover{border-bottom: 2px solid; color: cornflowerblue;} nav ul li:nth-child(3) a:hover{border-bottom: 2px solid; color: brown;} nav ul li:last-child a:hover{border-bottom: 2px solid; color: lightcoral;};